.item-view-div{
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
}

/* Images */
.item-all-images{
    padding: 30px;
}
.item-all-images .item-image-highlight{
    width: 100%;
    padding: 0 30px;
}
.item-all-images .item-image-highlight img{
    width: 100%;
}
.item-all-images .item-image-small{
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: center;
    margin: 20px 10px;
    padding: 10px;
}

.item-all-images .item-image-small img{
    width: 70px;
    height: 70px;
}

/* Description */
.item-descriptions{
    padding: 30px;
}

.rent-it-option-div{
    margin-top: 40px;
}
.rent-it-option{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
}
.rent-it-option span {
    width: 100%;
    margin-bottom: 10px;
}
.rent-it-option span > *{
    width: 100%;
}